@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

#header {
	font-family: Ruda;
	padding: 0.2em 0em 0.2em 2em;
	margin-block-end: 0;
	line-height: 1.2;
}

#header h1 {
	font-size: 2.8em;
	margin-block-end: 0;
}

#header h1 a {
	color: inherit;
	text-decoration: inherit;
}

#header nav {
	font-size: 1.2em;
}

#header nav ul {
	line-height: 2.5em;
	margin: 0.5em 0em 0em 0em;
}

#header nav li {
	display: inline;
	padding-right: 1.5em;
}

body {
	font-family: 'Times New Roman', Times, serif;
	background-color: #f0ede7;
	line-height: 1.5;
}

main {
	max-width: 800px;
	width: 75%;
	margin: 0 auto;
}